.poll-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 80px; }
  .poll-form label {
    margin: 0 0 10px;
    display: inline-block;
    font-family: "Amaranth", sans-serif;
    font-size: 30px; }
  .poll-form input[type="text"] {
    display: block;
    margin: 0 0 15px;
    height: 60px;
    padding: 15px;
    font-size: 18px;
    width: 100%; }
  .poll-form .answer-field {
    position: relative; }
    .poll-form .answer-field input[type="text"] {
      max-width: 470px; }
    .poll-form .answer-field svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      cursor: pointer;
      display: none; }
    .poll-form .answer-field:last-of-type svg {
      display: inline-block; }
