.poll-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 80px; }
  .poll-form label {
    margin: 0 0 10px;
    display: inline-block;
    font-family: "Amaranth", sans-serif;
    font-size: 30px; }
  .poll-form input[type="text"] {
    display: block;
    margin: 0 0 15px;
    height: 60px;
    padding: 15px;
    font-size: 18px;
    width: 100%; }
