@import url("https://fonts.googleapis.com/css?family=Amaranth:700i");
* {
  box-sizing: border-box; }

body {
  margin: 0; }

.contain {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

a {
  text-decoration: none; }

h1.masthead {
  text-align: center;
  font-size: 80px;
  margin: 20px 0 45px;
  font-family: "Amaranth", sans-serif; }
  h1.masthead a {
    color: #454646; }

.masthead {
  text-align: center; }

.poll-container {
  margin: 0 0 70px; }
  .poll-container .poll-item {
    display: inline-block;
    width: 100%;
    padding: 25px 40px;
    transition: 0.2s all;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #000;
    background: #fff; }
  .poll-container a.poll-item:hover {
    text-decoration: none;
    transition: 0.2s all;
    border: 1px solid #000; }
  .poll-container .poll-title {
    margin: 0 0 10px; }
  .poll-container form {
    text-align: center; }
    .poll-container form input[type="submit"] {
      margin-top: 14px;
      cursor: pointer; }
  .poll-container .radio-buttons {
    display: flex;
    max-width: 300px;
    justify-content: space-evenly;
    margin: 15px auto 0 auto; }
    .poll-container .radio-buttons .radio {
      text-align: center;
      flex: 20%; }
      .poll-container .radio-buttons .radio label {
        padding: 0 15px;
        display: block;
        cursor: pointer; }
        .poll-container .radio-buttons .radio label span {
          display: block; }

.votes-container {
  display: flex; }
  .votes-container .answer {
    margin-right: 25px; }
    .votes-container .answer span {
      display: block; }

.result-container {
  border: 1px solid #000;
  height: 40px;
  display: flex; }
  .result-container span {
    height: 100%;
    transition: 0.2s width;
    cursor: pointer; }

.__react_component_tooltip {
  text-align: center; }
  .__react_component_tooltip.show {
    opacity: 1; }
  .__react_component_tooltip span {
    display: block; }
